<footer class="page-footer mygreen-dark">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Campus Data</h5>
        <p class="grey-text text-lighten-4">Students and administrators across the world are creating a culture of open data on college campuses.</p>
        <form action="http://CampusData.us7.list-manage1.com/subscribe/post?u=18ba658e22c34b6ac8bac552f&amp;id=9b7a676140"
          method="post"
          id="mc-embedded-subscribe-form"
          name="mc-embedded-subscribe-form"
          class="validate col s12"
          target="_blank"
          novalidate>
          <div class="row">
            <div class="input-field col s9 white-text">
              <input
                type="email"
                value=""
                name="EMAIL"
                class="required email"
                id="mce-EMAIL">
              <label for="email">Join the Campus Data Listserv</label>
            </div>
            <button class="white grey-text text-darken-4 col s3 btn waves-effect"
              type="submit"
              name="subscribe"
              id="mc-embedded-subscribe"
              name="action">Sign Up</button>
          </div>
        </form>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="/">About</a></li>
          <li><a class="grey-text text-lighten-3" href="/members/">Members</a></li>
          <li><a class="grey-text text-lighten-3" href="/rankings">Rankings</a></li>
          <li><a class="grey-text text-lighten-3" href="/guidebook/">Guidebook</a></li>
          <li><a class="grey-text text-lighten-3" href="mailto:campusdata@googlegroups.com">Email Us</a></li>
          <li><a class="grey-text text-lighten-3" href="https://twitter.com/campus_data">@campus_data</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2017 Campus Data
      <a class="grey-text text-lighten-4 right" href="https://github.com/CampusData/campusdata.github.io"><i class="fa fa-github"></i>  Campus Data on GitHub</a>
    </div>
  </div>
</footer>