{% if include.active == "home" %}
<li class="active">
  {% else %}
<li>
  {% endif %}
  <a href="/" class="waves-effect">About</a>
</li>
{% if include.active == "join" %}
<li class="active">
  {% else %}
<li>
  {% endif %}
  <a href="/members/" class="waves-effect">Members</a>
</li>
{% if include.active == "rankings" %}
<li class="active">
  {% else %}
<li>
  {% endif %}
  <a href="/rankings/" class="waves-effect">Rankings</a>
</li>
{% if include.active == "guidebook" %}
<li class="active">
  {% else %}
<li>
  {% endif %}
  <a href="/guidebook/" class="waves-effect">Guidebook</a>
</li>
