---
layout: default
---
<div class="row">
    <div class="large-3 columns">
        <div class="nav-item expand">
                Working with the School
        </div>
        <div class="nav-item expand">
                Administrative Problems
        </div>
        <div class="nav-item expand">
                Data Collection
        </div>
        <div class="nav-item expand">
                Working with the Community
        </div>
         <div class="nav-item expand">
                Users
        </div>
        <div class="nav-item expand">
                Continuity
        </div>
        <div class="nav-item expand">
                Community Support
        </div>
        <div class="nav-item expand">
                Campus Applications
        </div>
        <div class="nav-item expand">
                Taking it to the next level
        </div>
        <div class="nav-item expand">
                Redundancy
        </div>
        <div class="nav-item expand">
                Outreach
        </div>
        <div class="nav-item expand">
                Further Innovation
        </div>
    </div>
    <div class="large-9 columns">
        {{ content }}
    </div>

</div>
<script>
    $(document).foundation();
</script>
